<!DOCTYPE html>
<html>
  <head>
    <title>SoundBar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>SoundBar</h1>
  <% if @user %>
    <%= link_to("Brands", brands_path) %>
    <%= link_to("Instruments", instruments_path) %>
    <%= link_to "Profile", user_path(@user) %>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Create Account", signup_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
